td, th {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;

}

/* 
commantaire en CSS c'est ctrl + K+ C 
*/

table {
    border-collapse: collapse;
}

body{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

/* CSS du formulaire */

label, input {
    display: block;
}

label {
    margin-top: 15px;
}

/* Voici un exemple de selecteur */

input[type="checkbox"], input[type="checkbox"] + label,
 input[type="radio"], input[type="radio"] + label {
    display: inline;
    margin-top: 15px;
}


/* On cible les labels et les  inputs dans les li */
li input, li label{
    display: inline;
}

